.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  background-color: red;
}

.cards__wrapper {
  background-color: black;
}

/* .cards__items {
  background-color: red;
} */

.cards__item {
    align-items: center;
  display: flex;
  flex-flow: column;
  background-color: rebeccapurple;
  margin-bottom: 30px;
  min-width: auto;
  min-height: auto;
}

.cards__item__img {
  background-color: yellow;
    width: 40vw;
    height: 37vh;
    min-width: auto;
    min-height: auto;
    object-fit:contain;
  /* transition: all 0.2s linear; */
}

.cards__item__info {
  padding: 10px 30px 10px;
  background-color: orange;
}

.cards__item__text {
  background-color: #1f98f4;
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.cards_tag1,
.cards_tag2 {
    position: relative;
    width: 100%;
}

.cards_tag1::after,
.cards_tag2[data-category]::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    text-align: center;
    padding: 6px 8px;
    width: 60px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.cards_tag2[data-category]::after {
    margin-left: 75px;
}